{% extends "base.html" %}
{% block main %}
{% if user.reservations %}
<h1>Твои записи</h1>
<ul>
{% for reservation in user.reservations %}
<li>{{ reservation.section.name }} — {{ reservation.name }}. <a href="{{ url_for('coffee.cancel', reservation_id=reservation.id) }}" class="cancel">Отменить?</a></li>
{% endfor %}
</ul>
{% endif %}

<h1>Записаться</h1>

{% for section in event.sections %}
<h2>{{ section.name }}</h2>
<p>
{% for reservation in section.reservations %}
<a href="{{ url_for('coffee.book', reservation_id=reservation.id) }}" class="btn btn-outline-primary">{{ reservation.name }}</a>
{% endfor %}
</p>
{% endfor %}
{% endblock %}
