{% extends "base.html" %}
{% block main %}
<h1>Все записи</h1>
<p>Событие: <strong>{{ event.name }}</strong><br/>
<p>Количество записей: <strong>{{ reservation_count }}</strong><br/>
   Количество пользователей: <strong>{{ user_count }}</strong></p>
<table class="table">
    <thead>
        <th>Секция</th>
        <th>Слот</th>
        <th>Имя</th>
        <th>Telegram</th>
        <th>Telegram ID</th>
    </thead>
    <tbody>
        {% for section in event.sections %}
        {% for reservation in section.reservations %}
        <tr>
            <td>{{ section.name }}</td>
            <td>{{ reservation.name }}</td>
            <td>{{ reservation.user.name }}</td>
            <td>{{ reservation.user.telegram_info }}</td>
            <td>{{ reservation.user.telegram_id }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}
