{% extends "base.html" %}
{% block main %}
<h1>Все записи</h1>
<p>Событие: <strong>{{ event.name }}</strong><br/>
   Количество записей: <strong>{{ reservation_count }}</strong><br/>
   Количество пользователей: <strong>{{ user_count }}</strong></p>
<table class="table">
    <thead>
        <th>Секция</th>
        <th>Слот</th>
        <th>Имя</th>
        <th>Telegram</th>
        <th>Telegram ID</th>
        <th>Действия</th>
    </thead>
    <tbody>
        {% for section in event.sections %}
        {% for reservation in section.reservations %}
        <tr>
            <td>{{ section.name }}</td>
            <td>{{ reservation.name }}</td>
            <td>{{ reservation.user.name }}</td>
            <td>{{ reservation.user.telegram_info }}</td>
            <td>{{ reservation.user.telegram_id }}</td>
            <td><a href="{{ url_for('sudo_cancel', reservation_id=reservation.id) }}" class="cancel">Удалить</a></td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
<script>
    window.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.cancel').forEach(e => e.addEventListener('click', function(event) {
            if (!confirm('Вы уверены?\n\nВосстановить запись будет невозможно. Совсем.')) {
                event.preventDefault();
                event.stopPropagation();
                return false;
            }
        }));
    });
</script>

{% endblock %}
